@charset "utf-8";

/* 공통 */
body {
  letter-spacing: -0.3px;
  font-family: "Noto Sans KR", sans-serif;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
header > .inner{
  width: 100%;
  height: 99px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-box{
  width: 400px;
  display: flex;
  flex-direction: row;
  border-bottom: #275376 2px solid;
  padding-bottom: 10px;
  padding-right: 16px;
}
.search-box > img{
  width: 30px;
  height: 30px;
}
input{
  width: 100%;
  border: none;
  outline: 0;
  font-size: 16px;
}
input::placeholder{
  font-size: 15px;
}
.char-box > p{
  font-size: 16px;
  margin-right: 8px;
}
.char-box,
.font-size-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.puls > .plus-line1{
  width: 24px;
  height: 2px;
  background: #111;
  margin-left: 10px;
  cursor: pointer;
}
.puls > .plus-line2{
  width: 23px;
  height: 2px;
  background: #111;
  rotate: -90deg;
  margin-left: 10px;
  cursor: pointer;
}
.min > .min-line{
  width: 24px;
  height: 2px;
  background: #111;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}
.min > .min-line::before{
  content: '';
  position: absolute;
  top: -8px;
  left: -37%;
  width: 1px;
  height: 20px;
  background: #ccc;
}
.all-menu-btn{
  width: 129px;
  height: 56px;
  line-height: 56px;
  background: #275376;
  text-align: center;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  border-radius: 28px;
  position: relative;
  padding-left: 36px;
}
.menu-line-box > .menu-line1{
  position: absolute;
  top: 35%;
  left: 30px;
  width: 20px;
  height: 2px;
  background: #fff;
}
.menu-line-box > .menu-line2{
  position: absolute;
  top: 52%;
  left: 25px;
  width: 20px;
  height: 2px;
  background: #fff;
}
.menu-line-box > .menu-line3{
  position: absolute;
  bottom: 30%;
  left: 30px;
  width: 20px;
  height: 2px;
  background: #fff;
}


/* nav */
.gnb{
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
}
.gnb > .inner > ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.gnb > .inner >  ul > li{
  width: 25%;
  text-align: center;
  position: relative;
}
.gnb > .inner > ul > li > a{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}
.gnb > .inner > ul > li:nth-child(1)::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 22px;
  background: #ccc;
}
.gnb > .inner > ul > li > a:first-child::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 22px;
  background: #ccc;
}


/* 드롭메뉴 */
.gnb > .inner{
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* main */
.mbanner{
  display: none;
}
/* section1 */
.visual{
  position: relative;
}
.visual > .banner-wrap{
  box-sizing: border-box;
  overflow: hidden;
}
.visual > .banner-wrap > img.pbanner{
  background-size: cover;
}
.visual > .btxt{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
  color: #fff;
}
.btxt > p:first-child{
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 40px;
}
.btxt > p:last-child{
  white-space:pre-wrap;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}


/* section2 */
.finance-column-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.finance-txt-box > p:first-child{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 26px;
}
.finance-txt-box > p:last-child{
  font-size: 16px;
  color: #666;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 26px;
}
.finance-column-box{
  padding: 60px 30px;
  border-left: 1px solid #ccc;
}
.finance-column-box:last-child{
  border-right: 1px solid #ccc;
}
.finance-column-box > img{
  border: #ccc 1px dashed;
  border-radius: 50%;
  padding: 26px;
}
.finance-btn-box{
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}
.finance-btn-box > a{
  color: #0068b7;
  border: 3px solid #0068b7;
  padding: 16px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}
.finance-btn-box > a:not(:last-child){
  margin-bottom: 10px;
}
.finance-btn-box > a:hover{
  background: #0068b7;
  color: #fff;
  transition: .2s linear;
}


/* section3 */
.section3{
  background-image: url(../img/bg_mc02.jpg);
  padding: 80px 0;
}
.section3 > .inner > p{
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
  color: #fff;
}
.news-card{
  background: #fff;
  padding: 30px 30px 60px;
  cursor: pointer;
}
.news-card:not(:last-child){
  margin-right: 8px;
}
.news-card > .tit{
  font-size: 18px;
  color: #d85701;
  font-weight: 500;
  margin-bottom: 30px;
}
.news-card > .mtit{
  display: block;
  font-size: 24px;
  color: #333;
  font-weight: 500;
  line-height: 35px;
  height: 70px;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.news-card > .date{
  font-weight: 500;
}
.slick-prev:before, .slick-next:before{
  font-size: 38px !important; 
}
.slick-prev {
  left: -51px !important; 
}


/* section4 */
.section4{
  padding: 80px 0;
  background: #f4f4f4;
}
.section4 > .inner > p{
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}
.trend-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
  border-top: #0068b7 3px solid;
  border-bottom: #999 1px solid;
}
.trend-box{
  padding: 40px 40px 80px;
  border-left: #ccc 1px solid;
  cursor: pointer;
}
.trend-box:hover{
  background: #0068b7;
  transition: .3s linear;
}
.trend-box > p:first-child{
  color: #999;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 30px;
}
.trend-box > span{
  display: block;
  font-size: 23px;
  color: #333;
  font-weight: 500;
  line-height: 35px;
  height: 70px;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.trend-box > p:last-child{
  color: #666;
  font-weight: 300;
  line-height: 24px;
  height: 48px;
}
.trend-box:hover p,
.trend-box:hover span{
  color: #fff;
}


/* footer */
.fnav-wrap{
  background: #4b4f58;
  color: #fff;
  height: 90px;
  line-height: 90px;
}
.fnav-wrap > .inner > ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fnav-wrap > .inner > ul > li{
  position: relative;
  padding-right: 60px;
  font-weight: 500;
}
.fnav-wrap > .inner > ul > li:not(:last-child){
  margin-right: 60px;
}
.fnav-wrap > .inner > ul > li::after{
  content: '·';
  position: absolute;  
  top: 0;
  right: 0;
  color: #fff;
  z-index: 100;
}
.fnav-wrap > .inner > ul > li:last-child:after{
  display: none;
}
.finfo-wrap{
  background: #2c2f36;
  padding: 50px 0 55px;
  color: #fff;
}
.finfo-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.fLogo,
.fcontent{
  margin-right: 60px;
}
.fcontent > .add{
  color: #999;
  line-height: 20px;
  margin-bottom: 5px;
}
.fcontent span{
  font-size: 18px;
  color: #ccc;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  padding-right: 20px;
}
.fcontent span:not(:last-child){
  margin-right: 10px;
}
.fcontent span::after{
  content: '';
  position: absolute;  
  top: 60%;
  transform: translateY(-60%);
  right: 0;
  width: 1px;
  height: 10px;
  background: #999;
  z-index: 200;
}
.fcontent span:last-of-type::after{
  display: none;
}
.copy-box{
  color: #999;
  font-weight: 300;
  line-height: 20px;
  margin-top: 30px;
}
.site-dropbox{
  display: none;
}
.finfo-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.site-drop-box{
  width: 100%;
  height: 36px;
  position: relative;
  border-bottom: #808286 2px solid;
  margin-bottom: 20px;
  color: #ccc;
}
.site-drop-box > p{
  position: relative;
  padding-right: 80px;
}
.site-drop-box > p::after{
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 9px;
  height: 100%;
  background-image: url(../img/arrow_down4.png);
  background-repeat: no-repeat;
  transition: .2s linear;
  cursor: pointer;
}
.sns{
  display: flex;
  flex-direction: row;
}
.sns > a{
  width: 46px;
  height: 46px;
  line-height: 41px;
  border: #8c8c8c 2px solid;
  border-radius: 50%;
}
.sns > a:not(:last-child){
  margin-right: 10px;
}
.sns > a > img{
  display: block;
  line-height: 41px;
  text-align: center;
  margin-top: 14px;
  margin-left: 11px;
}